@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: linear-gradient(-50deg, #783C31, #bb7d60, #FEEC92);
  }

  section.login {
    width: 90vw;
    height: 530px;
  }

  section.imagem {
    float: left;
    width: 30%;
    height: 100%;
  }

  section.formulario {
    float: right;
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-image: linear-gradient(-50deg, #783C31, #bb7d60, #FEEC92);
  }

  section.login {
    width: 950px;
  }

  div.imagem {
    float: right;
    width: 50%;
    height: 100%;
  }

  div.formulario {
    float: left;
    width: 50%;
  }

  div.fomulario h1 {
    font-size: 2em;
  }

  div.formulario p {
    font-size: 1.2em;
  }
  
}
